################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/8080Emulator/v16
/Debug
/8080Emulator/Debug
/8080Emulator/x64/Debug
/x64/Debug
/SDL2/docs
/8080Emulator/data.log
/8080Emulator/Release
/SDL2_mixer
