################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/8080Emulator/v16
/Debug
/8080Emulator/Debug